.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.left-bar {
    width: 200px;
    float: left;

}
.content{
    width: 800px;
    float: left;
}
.clear {
    clear: both;
}
.box{
    background-color: red;
    width: 300px;
    height: 300px;
    margin-right:  10px;
    padding: 10px;
    float: left;
}


.card {
    width: 23%;
    float: left;
    padding: 5%;
    background: cyan;
}

.bg-red{
    background-color: red;
}

.bg-yellow{
    background-color: yellow;
}

.bg-green {
    background: green;
}